*{
  box-sizing: border-box;
}

/*HEAD DISPLAY*/

#head-display{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 23.25%;
  border-bottom: 0.1rem solid yellow;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.head-display-prefix{
  border: 0.1rem solid white;
  padding: 0.3rem;
  font-size: 2rem;
  text-align: center;
  background-color: white;
}

.head-display-main-text{
  text-align: center;
  border: 0.1rem solid white;
  padding: 0.3rem;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
}

#head-display-item{
  padding: 0.3rem;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(112, 96, 96, 0.5);
}

/*BODY OF THE QUIZ*/
#question{
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

#quiz{
  border: 0.1rem solid whitesmoke;
  padding: 0.1rem 5rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.5rem gray;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
}

#opt{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.option{
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: whitesmoke;
}

.option:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(85, 185, 215, 0.5);
  transform: translateY(-0.4rem);
  transition: transform 200ms;
}

.option-alphabet{
  display: block;
  padding: 1rem 2rem;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
  color: white;
  height: auto;
}

.option-text{
  display: block;
  padding: 1rem;
  width: 100%;
  height: auto;
}

.correct{
  background-color: seagreen;
}

.incorrect{
  background-color: red;
}

@media screen and (device-width: 550px){

  .container{
    width: 100vw;
  }

  #quiz{
    width: 120%;
    height: 100vh;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0;
  }

  #head-display{
    margin: 0;
    height: 15%;
  }

  #head-display-item{
    height: 40%;
  }

  .head-display-prefix, .head-display-main-text{
    font-size: 150%;
  }

  #question{
    font-size: 250%;
    margin: 0;
  }

  #opt{
    height: 13%;
    margin-top: 2%;
  }

  .option-alphabet, .option-text{
    padding: 3%;
  }

  .option-text{
    display: block;
    font-size: 90%;
  }

}

@media screen and (device-height: 465px){
  *{
    font-size: 95%;
  }

  #head-display{
    border-bottom: none;
  }

  .option-text, .option-alphabet{
    display: block;
    font-size: 70%;
    padding: 1%;
  }

  #opt{
    height: 12.5%;
    margin-top: 0;
  }

  #next{
    width: 40%;
    height: 10%;
    margin-bottom: 2%;
    margin-top: 1%;
  }
}