*{
  box-sizing: border-box;
}

/*HEAD DISPLAY*/

#head-display{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 23.25%;
  border-bottom: 0.1rem solid yellow;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.head-display-prefix{
  border: 0.1rem solid white;
  padding: 0.3rem;
  font-size: 2rem;
  text-align: center;
  background-color: white;
}

.head-display-main-text{
  text-align: center;
  border: 0.1rem solid white;
  padding: 0.3rem;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
}

#head-display-item{
  padding: 0.3rem;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(112, 96, 96, 0.5);
}

/*BODY OF THE QUIZ*/
#question{
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

#quiz{
  border: 0.1rem solid whitesmoke;
  padding: 0.1rem 5rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.5rem gray;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
}

#opt{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.option{
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  border-radius: 0 0.7rem 0.7rem 0;
  background-color: whitesmoke;
}

.option:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(85, 185, 215, 0.5);
  transform: translateY(-0.4rem);
  transition: transform 200ms;
}

.option-alphabet{
  display: block;
  padding: 1rem 2rem;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
  color: white;
  height: auto;
}

.option-text{
  display: block;
  padding: 1rem;
  width: 100%;
  height: auto;
}

.correct{
  background-color: seagreen;
  color: white;
}

.incorrect{
  background-color: red;
  color: white;
}

@media screen and (max-width: 720px){

  .head-display-prefix{
    font-size: 2rem;
  }

  .head-display-main-text{
    font-size: 3rem;
  }

  #question{
    font-size: 3.5rem;
    padding: 0.5rem;
    margin: 0;
  }

  .option-text{
    font-size: 2rem;
    padding: 0.7rem;
  }

  .option-alphabet{
    padding: 1rem;
  }

}

@media screen and (max-width: 590px){

  #head-display{
    padding: 0.5rem;
    margin: 0;
    height: 15%;
  }

  .head-display-prefix{
    font-size: 1.5rem;
  }

  .head-display-main-text{
    font-size: 2rem;
  }

  #quiz{
    padding: 0.7rem;
  }

  #question{
    font-size: 2.2rem;
    padding: 0.5rem;
    margin: 0;
  }

  #opt{
    height: 10%;
  }

  .option-text{
    font-size: 1.45rem;
    padding: 0.5rem;
  }

  .option-alphabet{
    padding: 0.7rem;
  }

}

@media screen and (max-width: 335px){

  #opt{
    height: 12%;
  }

}