:root{
  background-image: linear-gradient(rgb(70, 38, 38), rgb(48, 45, 45), rgb(70, 38, 38));
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(8, 39, 39);
}

/*TEXTS*/
h1{
  font-family: cursive;
  font-size: 7.5rem;
  color: wheat;
  margin-bottom: 5rem;
  padding: 1rem;
  text-align: center;
}

h2{
  font-size: 3.3rem;
  font-family: cursive;
  color: wheat;
  padding: 1rem;
  text-align: center;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#totalScore{
  font-size: 5.4rem;
  font-family: cursive;
  color: yellow;
  padding: 1rem;
  text-align: center;
}

/*BODY OF CONTAINER*/
.container{
  width: 88%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  background-image: linear-gradient(gray, whitesmoke, gray);
  box-shadow: 1rem 1rem 0.5rem rgb(112, 96, 96);
}

.flex-column, .flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid whitesmoke;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.5rem gray;
  background-image: linear-gradient( rgb(177, 21, 21), rgb(87, 40, 40));
  padding: 1.5rem 1rem;
}

.justify-center{
  justify-content: center
}

.align-center{
  text-align: center;
}

/*Buttons*/
.btn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 50%;
  text-align: center;
  border: 0.1rem solid rgb(233, 204, 151);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  background-color: rgb(233, 204, 151);
}
.btn:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(215, 137, 85, 0.5);
  transform: scale(1.1);
  transition: transform 250ms;
}

/*FOOTER*/

.footer-text{
  display: block;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  bottom: 1rem;
  border-top: 0.12rem solid rgb(87, 40, 40);
  width: 58%;
  padding: 1rem 1rem 0.5rem 1rem;
}

@media screen and (max-width: 1300px){

  .container{
    width: 90%;
  }

  h1{
    font-size: 7.2rem;
  }

  h2{
    font-size: 2.4rem;
  }

  .footer-text{
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 1030px){

  .container{
    width: 88%;
  }

  h1{
    font-size: 7rem;
  }

  h2{
    font-size: 2.3rem;
  }

  .footer-text{
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 724px){

  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2.2rem;
  }

  .footer-text{
    font-size: 1.4rem;
  }

}

@media screen and (max-width: 503px){

  h1{
    font-size: 3.2rem;
  }

  h2{
    font-size: 2.1rem;
  }

  .footer-text{
    font-size: 1.35rem;
  }

}

@media screen and (max-width: 422px){

  .container{
    width: 88%;
  }

  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 2rem;
  }

  .footer-text{
    font-size: 1.5rem;
  }

}

@media screen and (max-height: 420px){

  #result-footer{
    display: none;
  }

  .footer-text{
    font-size: 1.5rem;
    border-top: none;
  }

}

@media screen and (max-height: 350px){

  .container{
    width: 88%;
  }

  h2{
    font-size: 1.5rem;
  }

  h1{
    font-size: 3.5rem;
  }

  .footer-text{
    font-size: 1.5rem;
    border-top: none;
  }

  #result-footer{
    display: none;
  }
}